@font-face {
    font-family: 'OmoriFont';
    src: url('https://raw.githubusercontent.com/rokaviie/fonts/blob/main/OMORI_GAME.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
} 
